$white: #ffffff;
$dark: #333333;
$green: #95e1d3;
$red: #f38181;
$grey: #a6a6a6;
$orange: #f38181; 
$yellow: #fce38a;
$text-hdr: 'Montserrat', sans-serif;
$text: 'Roboto', sans-serif;
$text-light: 'Kaushan Script', cursive; 