.header {
	margin: 6% auto 10%;
	padding: 0;
}
.header__menu {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	list-style-type: none;
	max-width: 250px;
	margin: 0 auto;
	padding: 0;
}
.header__menuitem {
	opacity: 0;
	position: relative;
	margin-bottom: 16px;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	
}
.header__menuitem:nth-child(1) {
	-webkit-animation: animation-bounce_in_down .5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	        animation: animation-bounce_in_down .5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.header__menuitem:nth-child(2) {
	-webkit-animation: animation-bounce_in_up .5s .1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	        animation: animation-bounce_in_up .5s .1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.header__menuitem:nth-child(3) {
	-webkit-animation: animation-bounce_in_down .5s .2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	        animation: animation-bounce_in_down .5s .2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.header__menuitem:nth-child(5) {
	-webkit-animation: animation-bounce_in_up .5s .3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	        animation: animation-bounce_in_up .5s .3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.header__menuitem:nth-child(6) {
	-webkit-animation: animation-bounce_in_down .5s .4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	        animation: animation-bounce_in_down .5s .4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.header__menuitem:nth-child(7) {
	-webkit-animation: animation-bounce_in_up .6s .5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	        animation: animation-bounce_in_up .6s .5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.header__menuitem-logo {
	position: relative;
	font-family: 'Dorsa',sans-serif;
	font-size: 33px;
	line-height: 77px;
	color: #263555;
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	margin: 10% auto 12%;
	text-align: center;
	-webkit-animation: animation-logo 0.5s 1.2s linear forwards;
	        animation: animation-logo 0.5s 1.2s linear forwards;
}
.header__menuitem-logo:after {
	content: '';
	width: 77px;
	height: 77px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: -1;
}
.header__menuitem a:hover {
	color: #263555;	
}
.header__submenu {
	position: absolute;
	top: 40px;
	left: 50%;
	background-color: #fff;
	color: #263555;
	font-size: 20px;
	text-transform: uppercase;
	list-style-type: none;
	width: 67px;
	border-radius: 3px;
	padding: 10px 0;
	-webkit-transform: scaleY(0) translateX(-50%);
	    -ms-transform: scaleY(0) translateX(-50%);
	        transform: scaleY(0) translateX(-50%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	z-index: 1;
}
.header__menuitem:nth-child(2):hover .header__submenu {
	-webkit-transform: scaleY(1) translateX(-50%);
	    -ms-transform: scaleY(1) translateX(-50%);
	        transform: scaleY(1) translateX(-50%);
}
.header__submenu:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #fff transparent;
}
.header__submenu:after {
	content: '';
	position: absolute;
	width: 67px;
	height: 85px;
	top: -50px;
	left: 0;
	overflow: hidden;
}
@media only screen and (min-width: 480px) {
	.header__menu {
		font-size: 24px;
	}
	.header__menuitem-logo {
		font-size: 44px;
		line-height: 100px;
	}
	.header__menuitem-logo:after {
		width: 100px;
		height: 100px;
	}
}
@media only screen and (min-width: 769px) {
	.header {
		margin: 40px auto 60px;
	}
	.header__menu {
		max-width: 900px;
	}
	.header__menuitem {
		font-size: 28px;
	}
	.header__menuitem-logo {
		font-size: 44px;
		line-height: 100px;
	}
	.header__submenu {
		font-size: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.header__menuitem-logo {
		width: 140px;
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
		margin: 3% 0 4%;
		font-size: 60px;
		line-height: 140px;
		text-align: center;
	}
	.header__menuitem-logo:after {
		width: 140px;
		height: 140px;
	}
	.header__menuitem:nth-child(5) {
		padding-left: 0;
	}
}

@-webkit-keyframes animation-bounce_in_down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
  	opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-bounce_in_down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
  	opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes animation-bounce_in_up {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
  	opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animation-bounce_in_up {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
  	opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes animation-logo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animation-logo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}